<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>OAuth Success</title>
</head>
<body>
  <h2>Logging you in...</h2>
</body>
<script src="/js/oauth-success.js?v=<%= version %>"></script>
</html>
